@font-face {
    font-family: 'Gotham';
    src: url("Gotham-Font/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Gotham Light';
    src: url("Gotham-Font/Gotham-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Gotham Bold';
    src: url("Gotham-Font/Gotham-Thin.otf") format("opentype");
}
@font-face {
    font-family: 'LooneyTunes Tilt BT';
    src: url("Looney\ Tunes\ Tilt\ BT-FONTSMAGAZINE.ttf") format("truetype");
}